.productCart__article{
    display: grid;
    grid-template-columns:  6em 1fr 2em;
    gap: 1em;
    align-items: center;
    width: 100%;
    max-width: 25em;
}


.productCart__section-title{
    font-size: 1rem;
    font-weight: 500;
}


.prodcart__delete{
    font-size:  1.2rem;
    width: 2em;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: brown;
    color: white;
    transition: transform 200ms ease;

}

.prodcart__delete:hover{
    transform: scale(1.1);
    filter: brightness(1.15);
}

.productCart__footer{
    grid-column: span 3;
    justify-content: end;
    display: flex;
    align-items: center;
    gap: 3em;
}

.productCart__footer-quantity{
    border: 1px solid #ccc9;
    padding: 0.2em 1em;
}

.productCart__subtotal{
    display: flex;
    align-items: end;
    gap: 1em;
}


.productCart__footer-subtotal{
    display: flex;
    align-items: end;
    gap: 1em;
}

.productCart__footer-label{
    font-weight: 300;
    font-size: 0.9rem;
}

.productCart__footer-value{
    font-weight: 700;
}

.productCart__footer-value::before{
    content: '$';
    padding-right: 0.3em;
}