.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  padding: 1em;
}

.login-form__title {
  font-size: 32px;
  margin-bottom: 30px;
}

.login-form__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.login-form__label {
  font-size: 16px;
  margin-bottom: 10px;
}

.login-form__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.login-form__button {
  background-color: brown;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.login-form__button:hover {
  background-color: rgb(185, 77, 77);
}

.formAlertContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0002;
  backdrop-filter: blur(2px);
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0;
  transition: scale 0.2s ease-in-out;
}

.formAlert {
  padding: 1em 3em 1em 1em;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 1em;
  max-width: 500px;
}

.formAlert h3 {
  font-weight: 500;
}

.formAlert img {
  padding: 1.5em;
  width: 6em;
}

.alertCorrect {
  transition: scale 0.2s ease-in-out;
  scale: 1;
}

.usuarioLogin{
  margin-top: 40px;
  background-color: rgb(240, 132, 132, 40%);
  padding: 1em;
  border-radius: 1em;
  font-weight: bold;
}

.usuarioLogin span{
  font-weight: 400;
}