.purchases{
    margin-top: 6em;
    padding: 0.1em;

}

.purchases__title{
    text-align: center;
    margin-bottom: 1.2em;
}

.purchases__products{
    display: grid;
    gap: 3em;
    justify-content: center;
    margin-bottom: 4em;  
}

