.productPurchases_article {
    display: grid;
    grid-template-columns: 6em 1em 1fr 3.4em;
    gap: 0.5em;
    align-items: center;
    width: 100%;
}


.productPurchases_title {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.purchases__img {
    width: 100%;
    aspect-ratio: 1.5;
    object-fit: contain;
}

.productPurchases-value {
    font-weight: 700;
}

.productPurchases-value::before {
    content: '$';
    padding-right: 0.3em;
}

@media (max-width: 400px) {
    .productPurchases_title {
        font-weight: 500;
        font-size: 10px;
    }
    .productPurchases-value {
        font-size: 14px;
    }

}