.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-top: 100px;
  
  padding: 1em;
  /*
    border: 2px solid #ccc;
    border-radius: 10px;
    */
}

.registration-form__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-form__input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.registration-form__label {
  display: block;
  margin-bottom: 5px;
}

.registration-form__input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.registration-form__button {
  background-color: brown;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.registration-form__button:hover {
  background-color: rgb(185, 77, 77);
}


.formAlertContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0002;
  backdrop-filter: blur(2px);
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0;
  transition: scale 0.2s ease-in-out;
}

.formAlert {
  padding: 1em 3em 1em 1em;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 1em;
  max-width: 500px;
}

.formAlert h3 {
  font-weight: 500;
}

.formAlert img {
  padding: 1.5em;
  width: 6em;
}

.alertCorrect {
  transition: scale 0.2s ease-in-out;
  scale: 1;
}